@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800;900&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Tajawal", sans-serif;
}

.fatwa {
  height: 100vh;
  background-color: #F4F4F4;
  padding-right: 24px;
}
@media (max-width: 991px) {
  .fatwa {
    padding: 0;
  }
}
.fatwa .wrapper {
  display: flex;
  height: 100%;
}
.fatwa .wrapper .right_part {
  width: 330px;
  height: 100%;
  background-color: #fff;
}
@media (max-width: 991px) {
  .fatwa .wrapper .right_part {
    width: 100px;
  }
}
.fatwa .wrapper .right_part img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.fatwa .wrapper .left_part {
  flex: 1;
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.fatwa .wrapper .left_part .nav {
  width: 100%;
  position: relative;
}
.fatwa .wrapper .left_part .nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #2E8C99;
  position: relative;
  z-index: 10;
}
@media (max-width: 991px) {
  .fatwa .wrapper .left_part .nav ul {
    flex-wrap: wrap;
  }
}
.fatwa .wrapper .left_part .nav ul li a {
  text-decoration: none;
  font-size: 32px;
  color: #fff;
  padding: 16px 36px;
  background-image: url(../img/trg.png);
  background-position: left;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
}
@media (max-width: 1600px) {
  .fatwa .wrapper .left_part .nav ul li a {
    font-size: 20px;
    padding: 16px 24px;
  }
}
@media (max-width: 1200px) {
  .fatwa .wrapper .left_part .nav ul li a {
    font-size: 16px;
    padding: 16px 16px;
  }
}
@media (max-width: 991px) {
  .fatwa .wrapper .left_part .nav ul li {
    flex: 25%;
  }
  .fatwa .wrapper .left_part .nav ul li a {
    background-image: none;
    width: 100%;
  }
}
@media (max-width: 991px) {
  .fatwa .wrapper .left_part .nav ul li {
    flex: 50%;
  }
}
@media (max-width: 575px) {
  .fatwa .wrapper .left_part .nav ul li a {
    font-size: 14px;
  }
}
.fatwa .wrapper .left_part .nav .shape {
  position: absolute;
  top: 50%;
  left: 0;
}
.fatwa .wrapper .left_part .description {
  margin-top: 80px;
  color: #3F3F3F;
  max-width: 868px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
@media (max-width: 1200px) {
  .fatwa .wrapper .left_part .description {
    margin-top: 36px;
  }
}
.fatwa .wrapper .left_part .description p {
  font-size: 24px;
  margin: 0;
}
@media (max-width: 1200px) {
  .fatwa .wrapper .left_part .description p {
    max-width: 750px;
    padding: 0 16px;
  }
}
@media (max-width: 991px) {
  .fatwa .wrapper .left_part .description p {
    font-size: 16px;
  }
}
.fatwa .wrapper .left_part .description span {
  color: #3f3f3f;
  font-size: 22px;
}
@media (max-width: 1200px) {
  .fatwa .wrapper .left_part .description span {
    max-width: 750px;
    display: block;
    padding: 0 16px;
  }
}
@media (max-width: 991px) {
  .fatwa .wrapper .left_part .description span {
    font-size: 14px;
  }
}
.fatwa .wrapper .left_part .user {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 125px;
  left: 75px;
}
@media (max-width: 991px) {
  .fatwa .wrapper .left_part .user img {
    width: 35px;
  }
}
.fatwa .wrapper .left_part .user .user_info {
  display: flex;
  align-items: center;
  position: relative;
  height: 48px;
}
.fatwa .wrapper .left_part .user .user_info span {
  border: 1px solid #7A5151;
  border-radius: 24px;
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding-inline-end: 64px;
  padding-inline-start: 29px;
  color: #A0A0A0;
  font-size: 22px;
}
.fatwa .wrapper .left_part .user .user_info img {
  position: absolute;
  left: 0;
}
@media (max-width: 991px) {
  .fatwa .wrapper .left_part .user {
    top: 10px;
    left: 10px;
    gap: 6px;
  }
  .fatwa .wrapper .left_part .user .user_info {
    height: 35px;
  }
  .fatwa .wrapper .left_part .user .user_info span {
    padding-inline-start: 16px;
    font-size: 16px;
    padding-inline-end: 44px;
  }
  .fatwa .wrapper .left_part .user .user_info img {
    width: 35px;
  }
}

.o_control_panel, .o_main_navbar {
  display: none !important;
}/*# sourceMappingURL=landing.css.map */